<ul>
  <%
  graphs = {}
  i = 0
  @models[model_type].each do |stype, k|
    i += 1
  %>
  <li class="<%= i%2 == 0 ? 'odd' : 'even' %>">
    <div class="graph-container">
      <div class="graph">
        <div class="graph-ico">
          <%= image_tag k.icon %>
        </div>
        <div id="<%= k.stype %>" class="graph-chart">
        </div>
      </div>
    </div>
    <div class="totals">
      <%\
      if @total_woman[stype].present?
        graphs[k.stype] = @total_woman[stype]
      %>
      <div class="percent">
        <%= @total_woman[stype] %>%
      </div>
      <%
      else
        graphs[k.stype] = 0
      %>
        <div class="no-data-container">NO HAY DATOS <i class="no-data"></i></div>
      <% end %>
      <div class="label-name">
        <span><%= k.name %></span>
      </div>
    </div>
  </li>
  <% end %>
  <%= javascript_tag "totalsCharts(#{graphs.to_json});" %>
</ul>
