<ul>
  <%
  graphs = {}
  @models[model_type].each do |stype, k|
  %>
  <li>
    <%= image_tag k.icon, class: "graph-ico" %>
    <div class="graph">
      <div id="<%= k.stype %>" class="graph-chart">
      </div>
    </div>
    <div class="totals">
      <%\
      if @total_woman[stype].present?
        graphs[k.stype] = @total_woman[stype]
      %>
        <%= @total_woman[stype] %>%
      <%
      else
        graphs[k.stype] = 0
      %>
        <div class="no-data-container">NO HAY DATOS <i class="no-data"></i></div>
      <% end %>
      <span><%= k.name %></span>
    </div>
    <div class="diagoline left" ></div>
    <div class="diagoline right" ></div>
  </li>
  <% end %>
  <%= javascript_tag "totalsCharts(#{graphs.to_json});" %>
</ul>
