<%
charts = {};
@ptype.each do |k,v|
  charts[k.stype] = v
%>
  <div class="chart-container">
    <div class="chart">
      <div class="graph-ico">
        <%= image_tag k.icon %>
      </div>
      <div class="graph-container">
        <div id="<%= k.stype %>" class="graph-chart"></div>
      </div>
    </div>
    <div class="totals">
      <%= v %>%
      <span><%= k.name %></span>
    </div>
  </div>
<% end %>
<%= javascript_tag "totalsCharts(#{charts.to_json}, { color: '#79ce77',
    gear_size: '50%',
    icon_relation: [3.5,3],
    size: '150%',
  });"
%>
