<% if @results.present? && @results.size > 0 %>
  <% @results.each do |person| %>
  <div class="person-profile">
    <div class="profile-visible">
      <div class="profile-image">
      <% if person.image.present? %>
        <%= image_tag person.image %>
      <% else %>
        <% case person.sex
        when 'Masculino' %><%= image_tag "hombre.svg", alt:"hombre" %>
        <% when 'Femenino' %><%= image_tag "mujer.svg", alt:"mujer" %>
        <% when 'Cosa' %><%= image_tag "cosas.svg", alt:"cosa" %>
        <% end %>
      <% end %>
      </div>
      <div class="main-data">
        <h3><%= person.name %></h3>
        <div class="mini-bio">
          <span><%= person.sex %></span>
          <% person.places.each do |pl| %>
            <span><%= "#{pl.building.name}, #{pl.name}" %></span>
          <% end %>
          <% person.intangibles.each do |int| %>
            <span><%= "#{int.name}" %></span>
          <% end %>
        </div>
      </div>
      <button class='more-data data-<%="#{person.id}"%>'>Más info.</button>
    </div>
    <div class='extended-data hidden extended-<%="#{person.id}"%>'>
      <%= person.bio.html_safe %>
    </div>
  </div>
  <% end %>
  <script>
    //Results
    $('.more-data').click((person) => {
      $(person.target).toggleClass('active');
      $(person.target).parent().parent().toggleClass('active');
      $(person.target).parent().next().toggleClass('hidden');
    });
  </script>
<% else %>
  <div class="no-results">No hay resultados para la búsqueda</div>
<% end %>
