<div class="home main-container">
  <div class="header">
      <%= image_tag 'logo-udelar.svg', class: 'logo-udelar' %>
      <ul class="menu">
        <li><a href="/sobre-proyecto">Sobre el proyecto</a></li>
      </ul>
      <div class="sub-header">
        <%= image_tag 'logo-prg.svg', class: 'logo-prg' %>
        <%= image_tag 'logo-data.svg', class: 'logo-data' %>
      </div>
      <h1>¿Qué lugar ocupan las mujeres en la UDELAR?</h1>
  </div>
  <div class="group main-image">
    <%= image_tag 'derecho.svg', class: 'derecho' %>
  </div>
  <div class="container">
    <h2>Sólo <%= @total_woman %> de cada 10 de los espacios que llevan nombre (salas, aulas, edifios, etc.), reconocen a mujeres.</h2>
    <div id="totals" class="group">
    </div>
    <h2>Quiénes son</h2>
    <div id="search-container">
      <%= form_with url: "/", method: :get, html: { id: "search", remote: true } do |form| %>
        <div class="type-select">
          <div class="select-box">
            <span></span>
            <i class="arrow down"></i>
          </div>
          <div class="type-options hidden">
            <label for="type_femenino"><%= form.radio_button :type, 'Femenino', {class: 'search_type', checked: true} %>Mujeres</label>
            <label for="type_masculino"><%= form.radio_button :type, 'Masculino', class: 'search_type' %>Hombres</label>
            <label for="type_todo"><%= form.radio_button :type, 'Todo', class: 'search_type' %>Todo</label>
          </div>
        </div>
          <%= form.text_field :query %>
          <%= button_tag( :class => "search-button") do %>
            <%= image_tag 'search.svg', class: 'icon-search', alt: "Buscar" %>
          <% end %>
      <% end %>
      <div id="search_results" class="inner">
      </div>
    </div>
    <h2>Llevan nombres de mujeres</h2>
    <div id="services" class="group inner tipos-servicios">
      <select name="servicios" id="servicios">
        <%= options_for_select( [["Toda la Universidad",0]] + @services.map{|s| [s.name, s.id]} ) %>
      </select>
      <div id="place_type_graphs">
        <%= render partial: "place_type_graphs" %>
      </div>
    </div>
    <h2 class="inner">Sin embargo, la mayoría de quienes estudian y se reciben, son mujeres.</h2>
    <div id="percentage-totals" class="group blue">

    </div>
    <h2 class="inner">Aunque no siempre fue así:</h2>
    <div id="evolution-graph">
      <%= render partial: "evolution_graph" %>
    </div>
    <div class="group inner">
      <h2>La desigualdad también es visible en el personal</h2>
      <div class="tab-selector">
        <button id="tab-docentes" onclick="selectTab('docentes')" class="active">DOCENTES</button>
        <button id="tab-funcionaries" onclick="selectTab('funcionaries')" >FUNCIONARIAS/OS</button>
      </div>
    </div>
    <div id="percentage-rank" class="group blue">

    </div>
    <p class="inner note">
      Desde UDELAR queremos corregir esta situación a través de Nombre del proyecto, y una descripción muy breve.
    </p>
    <p class="inner note">
      Por un lado, queremos corregir el desequilibrio en los nombres de espacios, y necesitamos tus propuestas.
    </p>
    <a href="/" class="btn btn-blue">PROPONÉ NOMBRES</a>
    <p class="inner note">
      Además, queremos pensar cómo la Universidad debe mejorar para cambiar estas inequidades.
    </p>
    <a href="/" class="btn btn-blue">PROPONÉ IDEAS</a>
  </div>
  <script>
    $(document).ready(() => {
    var options = {
        series: <%= raw(@per_type_series) %>,
        chart: {
        type: 'bar',
        height: 400
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        colors: ['transparent']
      },
      grid: {
        yaxis: {
          lines: {
            show: false,
          }
        }
      },
      xaxis: {
        categories: ['', '', ''],
      },
      fill: {
        opacity: 1
      },
    };
    var chart = new ApexCharts(
      document.querySelector("#totals"),
      options
    );
    chart.render();
  });
  </script>
</div>
