<div class="home main-container">
  <div class="header">
      <%= image_tag 'logo-udelar.svg', class: 'logo-udelar' %>
      <ul class="menu">
        <li><a href="/sobre-proyecto">Sobre el proyecto</a></li>
      </ul>
      <div class="sub-header">
        <%= image_tag 'logo-prg.svg', class: 'logo-prg' %>
        <%= image_tag 'logo-data.svg', class: 'logo-data' %>
      </div>
      <h1>¿Qué lugar ocupan las mujeres en la UDELAR?</h1>
  </div>
  <div class="container">
    <div class="group main-image">
      <div class="derecho">
        <svg width="802" height="357" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <path d="M802 329v28H671v-3h.033v-25H802zm-460.307-91.035v2.324h118.614v-2.324h53.221v12.386h-50.234V255h50.234v-4.247L671 250.752V247h131v63.21H671.033v4.579H671v-1.579H514v-3h-51v4.58h51v3h157V322h.033v-7.211H802V322H671.033v7H671v-4H514v-3h-51v7h51v3h157v22H551v3H254v-3H131v3H0v-28h131v3h157v-3h51v-7h-51v3H131v-3H0v-7.21h131v3h157v-3h51v-4.58h-51v3H131v-3H0V247h131v3.35l157.472.403V255h50.18v-4.65h-50.18v-12.385h53.22zM545 351H260v3h285v-3zm-12-6H272v3h261v-3zm-12-6H284v3h237v-3zm-12-6H296v3h213v-3zm-69-78c-6.278 0-11.43 4.887-11.956 11.115l-.044 1.05V329h24v-61.835c0-6.72-5.369-12.165-12-12.165zm-78 0c-6.282 0-11.431 4.887-11.956 11.115l-.044 1.05V329h24v-61.835c0-6.72-5.373-12.165-12-12.165zm39 0c-6.278 0-11.43 4.877-11.956 11.092L389 267.14v61.706l.32.022.564.03.911.034 1.393.033 1.676.022 2.383.012 3.466-.006 3.875-.028 5.796-.067 3.616-.052V267.14c0-6.706-5.369-12.14-12-12.14zm-55.221 69.981h-4.558v3.038h4.558v-3.038zm39.138 0h-6.834v3.038h6.834v-3.038zm74.864 0h-4.562v3.038h4.562v-3.038zm-35.862 0h-6.838v3.038h6.838v-3.038zm0-9h-6.838v3.038h6.838v-3.038zm35.86 0h-4.558v3.038h4.558v-3.038zm-74.862 0h-6.834v3.038h6.834v-3.038zm-39.138 0h-4.558v3.038h4.558v-3.038zm325.254-65.228-.033-.001v59.458h.033v-59.457zM345.78 306.98h-4.558v3.038h4.558v-3.038zm39.138 0h-6.834v3.038h6.834v-3.038zm74.864 0h-4.562v3.038h4.562v-3.038zm-35.862 0h-6.838v3.038h6.838v-3.038zM271.5 263a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-64 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm451 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-64 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-419 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm387 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-323 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm387 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-484 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm387 0a7.5 7.5 0 0 0-7.5 7.5V304h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-42-2a7.5 7.5 0 0 0-7.5 7.5V302h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm-173 0a7.5 7.5 0 0 0-7.5 7.5V302h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zM514 297.21h-14v4.58h14v-4.58zm-38 0h-13v4.58h13v-4.58zm-137 0h-13v4.58h13v-4.58zm-37 0h-14v4.58h14v-4.58zm157.779.771h-4.558v3.038h4.558v-3.038zm-114 0h-4.558v3.038h4.558v-3.038zm39.138 0h-6.834v3.038h6.834v-3.038zm39.002 0h-6.838v3.038h6.838v-3.038zM97 268a6 6 0 0 0-6 6v27h12v-27a6 6 0 0 0-6-6zm639.5-8a7.5 7.5 0 0 0-7.5 7.5V301h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm31.5 8a6 6 0 0 0-6 6v27h12v-27a6 6 0 0 0-6-6zm-735 0a6 6 0 0 0-6 6v27h12v-27a6 6 0 0 0-6-6zm671 0a6 6 0 0 0-6 6v27h12v-27a6 6 0 0 0-6-6zm-638.5-8a7.5 7.5 0 0 0-7.5 7.5V301h15v-33.5a7.5 7.5 0 0 0-7.5-7.5zm280.279 28.981h-4.558v3.038h4.558v-3.038zm39.138 0h-6.834v3.038h6.834v-3.038zm39.002 0h-6.838v3.038h6.838v-3.038zm35.862 0h-4.562v3.038h4.562v-3.038zm-80.276-2.901a.424.424 0 0 0-.425.42c0 .225.195.42.425.42.23 0 .415-.195.415-.42a.415.415 0 0 0-.415-.42zm-2.002-1a.42.42 0 1 0 0 .84c.23 0 .414-.185.414-.42 0-.23-.184-.42-.414-.42zm4.005-.998a.42.42 0 0 0-.425.42c0 .23.184.416.424.416.226 0 .41-.185.41-.416 0-.23-.184-.42-.41-.42zm42.41-5.101h-6.837v3.038h6.838v-3.038zm35.863 0h-4.562v3.038h4.562v-3.038zm-114.002 0h-4.558v3.038h4.558v-3.038zm39.138 0h-6.834v3.038h6.834v-3.038zm0-9h-6.834v3.038h6.834v-3.038zm74.862 0h-4.558v3.038h4.558v-3.038zm-35.86 0h-6.838v3.038h6.838v-3.038zm-78.14 0h-4.558v3.038h4.558v-3.038zM476 267.211h-13v4.579h13v-4.58zm38 0h-14v4.579h14v-4.58zm-211 0h-15v4.579h15v-4.58zm36 0h-13v4.579h13v-4.58zM435.667 247c-7.085 1.534-12.818 6.617-15.167 13.252-2.202-6.22-7.379-11.076-13.855-12.923l-1.312-.329-1.333 5.92c6.205 1.342 10.941 6.552 11.448 12.94l.045 1.14h10.014c0-6.519 4.387-12.016 10.413-13.804l1.08-.276-1.333-5.92zm-77.955 0c-8.594 1.93-15.123 9.506-15.674 18.732L342 267h5.93c0-6.519 4.225-12.016 10.03-13.804l1.04-.276-1.288-5.92zm38.95 0c-7.083 1.534-12.81 6.617-15.16 13.252-2.206-6.22-7.386-11.076-13.858-12.923l-1.31-.329-1.334 5.92c6.204 1.342 10.94 6.552 11.447 12.94l.045 1.14h10.012c0-6.519 4.387-12.016 10.416-13.804l1.08-.276-1.338-5.92zm47.625 0L443 252.92c5.979 1.342 10.537 6.552 11.025 12.94l.043 1.14H460c0-9.368-6.156-17.266-14.554-19.702l-1.159-.298zM404 245h-7l1.746 8.1 1.75.9 1.754-.9L404 245zm-38 0h-7l1.746 8.1 1.754.9 1.746-.9L366 245zm77 0h-7l1.75 8.1 1.75.9 1.754-.9L443 245zm17.314-181 2.934.025c24.478.685 44.225 15.28 45.642 33.577l.07 1.346h4.576v8.359h-11.411v-2.281h-28.888v2.281H461.83v4.563h16.75a18.05 18.05 0 0 0 9.106 2.44c2.84 0 5.533-.65 7.929-1.815l1.172-.625h12.188v10.65a36.823 36.823 0 0 1 5.38 4.73l1.192 1.339h4.072v6.835h-6.083v13.675H671v5.88H513v3.042h158V163H513v61h2.276v-43.462H671v-2.285H515.276v-5.339H671V163h.028l-.026-13.901H671V113h131v26.979H671.01v3.042H802V148H671l.002 1.099h.031v8.815H802V148h.033v9.914H802v5.339h.033v2.285H802V232H671.033v3.65H513.528V231h-50.184v3.096H338.651V231h-50.179v4.65H131V232H0v-88.979h131V148H0l.033 17.538H131v-2.285H.033v-5.339H131v-2.935l.033-.001v-5.879h157.44v-13.675h-6.088v-6.835h4.077a36.664 36.664 0 0 1 5.14-4.986l1.433-1.083v-10.65h12.183a18.05 18.05 0 0 0 9.105 2.44c2.845 0 5.535-.65 7.93-1.815l1.172-.625h16.75v-4.563h-11.408v-2.281h-28.892v2.281h-11.402v-8.36h4.57c.528-18.92 20.639-34.22 45.71-34.922L340.55 64h119.763zm210.72 116.538H671V232h.033v-51.462zM413 226.221h-24v4.558h24v-4.558zm39 0h-24v4.558h24v-4.558zm-78 0h-24v4.558h24v-4.558zM245 188h-14v36h14v-36zm-32 0h-14v36h14v-36zm387 0h-14v36h14v-36zm-528 0H58v36h14v-36zm109 0h-14v36h14v-36zm483 0h-14v36h14v-36zm-32 0h-14v36h14v-36zm-343-25H131v.253h.033v2.285H131V173l155.715-.086v5.34H131v2.284h155.715V224H289v-61zm-10 25h-14v36h14v-36zm289 0h-14v36h14v-36zm175 0h-14v36h14v-36zm-207 0h-14v36h14v-36zm-387 0h-14v36h14v-36zm360 33.738h-10v1.524h10v-1.524zm-206 0h-10v1.524h10v-1.524zm481 0h-10v1.524h10v-1.524zm-308 0h-10v1.524h10v-1.524zm-350 0h-10v1.524h10v-1.524zm210 0h-10v1.524h10v-1.524zm350 0h-10v1.524h10v-1.524zm-671 0H5v1.524h10v-1.524zm782 0h-10v1.524h10v-1.524zm-98 0h-10v1.524h10v-1.524zm-586 0h-10v1.524h10v-1.524zm-85 0H18v1.524h10v-1.524zM408 184h-15v39h15v-39zm-86-2h-15v41h15v-41zm173 0h-15v41h15v-41zm-125 2h-15v39h15v-39zm77 0h-15v39h15v-39zm-334 27.738h-10v1.524h10v-1.524zm13 0h-10v1.524h10v-1.524zm-111 0H5v1.524h10v-1.524zm782 0h-10v1.524h10v-1.524zm-13 0h-10v1.524h10v-1.524zm-275 0h-10v1.524h10v-1.524zm190 0h-10v1.524h10v-1.524zm-13 0h-10v1.524h10v-1.524zm-383 0h-10v1.524h10v-1.524zm33 0h-10v1.524h10v-1.524zm140 0h-10v1.524h10v-1.524zm-448 0H18v1.524h10v-1.524zm-13-10H5v1.524h10v-1.524zm769 0h-10v1.524h10v-1.524zm-308 0h-10v1.524h10v-1.524zm33 0h-10v1.524h10v-1.524zm177 0h-10v1.524h10v-1.524zm-573 0h-10v1.524h10v-1.524zm13 0h-10v1.524h10v-1.524zm210 0h-10v1.524h10v-1.524zm-33 0h-10v1.524h10v-1.524zm396 0h-10v1.524h10v-1.524zm98 0h-10v1.524h10v-1.524zm-769 0H18v1.524h10v-1.524zm481-10.002h-10v1.528h10v-1.528zm-396 0h-10v1.528h10v-1.528zm573 0h-10v1.528h10v-1.528zm-350 0h-10v1.528h10v-1.528zm448 0h-10v1.528h10v-1.528zm-85 0h-10v1.528h10v-1.528zm-573 0h-10v1.528h10v-1.528zm350 0h-10v1.528h10v-1.528zm-461 0H5v1.528h10v-1.528zm782 0h-10v1.528h10v-1.528zm-494 0h-10v1.528h10v-1.528zm-275 0H18v1.528h10v-1.528zm275-9.993h-10v1.514h10v-1.514zm-288 0H5v1.514h10v-1.514zm13 0H18v1.514h10v-1.514zm756 0h-10v1.514h10v-1.514zm-671 0h-10v1.514h10v-1.514zm586 0h-10v1.514h10v-1.514zm-363 0h-10v1.514h10v-1.514zm461 0h-10v1.514h10v-1.514zm-111 0h-10v1.514h10v-1.514zm-177 0h-10v1.514h10v-1.514zm-383 0h-10v1.514h10v-1.514zm350 0h-10v1.514h10v-1.514zm-24-4.14h-24v3.795h24v-3.796zm-78 0h-24v3.795h24v-3.796zm19.066 0H389v3.795h24v-3.796h-4.061a11.856 11.856 0 0 1-7.939 3.043c-2.66 0-5.118-.878-7.11-2.368l-.824-.675zm277.967-4.689H671v5.339h.033v-5.339zM401 156h-59v6.924h15.024c-.295.309-.566.636-.809.988l-.342.545h-5.55v8.467h6.047c1.381 1.864 3.576 3.076 6.055 3.076a7.492 7.492 0 0 0 5.496-2.409l.556-.667h6.05v-8.467h-5.554a7.592 7.592 0 0 0-.726-1.055l-.42-.478h22.29c1.817-3.78 5.478-6.481 9.792-6.875L401 156zm-.502 5a7.501 7.501 0 0 0 0 15 7.5 7.5 0 0 0 7.502-7.502 7.465 7.465 0 0 0-2.193-5.3 7.48 7.48 0 0 0-5.31-2.198zM460 156h-59c4.418 0 8.282 2.41 10.391 6.002l.49.922h22.297c-.295.309-.566.636-.81.988l-.342.545h-5.553v8.467h6.05c1.382 1.864 3.576 3.076 6.05 3.076 2.165 0 4.12-.928 5.5-2.409l.555-.667h6.046v-8.467h-5.554a7.242 7.242 0 0 0-.723-1.055l-.424-.478H460V156zm-20.498 7a5.499 5.499 0 0 1 5.498 5.5c0 3.047-2.462 5.5-5.498 5.5a5.494 5.494 0 0 1-5.502-5.5 5.5 5.5 0 0 1 5.502-5.5zm-77.004 0a5.5 5.5 0 1 1 0 11 5.496 5.496 0 0 1-5.498-5.5c0-3.037 2.462-5.5 5.498-5.5zM509 171.743h-10v1.514h10v-1.514zm-173 0h-10v1.514h10v-1.514zm-210 0h-10v1.514h10v-1.514zm671 0h-10v1.514h10v-1.514zm-13 0h-10v1.514h10v-1.514zm-98 0h-10v1.514h10v-1.514zm-658 0H18v1.514h10v-1.514zm671 0h-10v1.514h10v-1.514zm-396 0h-10v1.514h10v-1.514zm-190 0h-10v1.514h10v-1.514zm363 0h-10v1.514h10v-1.514zm-461 0H5v1.514h10v-1.514zM416.463 165h-3.645c.39 1.15.603 2.369.603 3.636 0 1.158-.179 2.275-.507 3.33l-.377 1.034h3.926v-8zm-27.283 0h-3.641v8h3.922a11.235 11.235 0 0 1-.889-4.364c0-.845.097-1.668.277-2.464l.331-1.172zm16.628-1.8-4.613 5.937-.177.16-.113.06a.966.966 0 0 1-.967-.1l-.102-.086-.103-.13-.08-.143-2.453-3.706 3.267 2.162 5.34-4.154zM509 152h-43v6.179h12.284v6.954h1.733c1.673 2.344 4.4 3.867 7.485 3.867a9.162 9.162 0 0 0 6.884-3.117l.597-.75h1.733v-6.954H509V152zm-173 0h-43v6.179h12.281v6.954h1.733c1.673 2.344 4.4 3.867 7.486 3.867a9.142 9.142 0 0 0 6.882-3.117l.595-.75h1.737v-6.954H336V152zm335.033 11h-.005l.005 2.538H802v-2.285H671.033V163zM288 154.979l-156.967-.001v2.936H131v.107h157v-3.042zM335.59 135H293v8.84h48.674V149h118.652v-5.16H509V135h-42.594v3.681H335.59V135zM131 113v26.979H0V113h131zm656 18.981H685v3.038h102v-3.038zm-671 0H14v3.038h102v-3.038zm336-2H350v3.038h102v-3.038zM314.5 118a34.11 34.11 0 0 0-24.918 10.737l-1.135 1.267H288V133h53v-2.996h-.452A34.116 34.116 0 0 0 314.5 118zm173.005 0a34.113 34.113 0 0 0-24.919 10.737l-1.134 1.267H461V133h53v-2.996h-.452A34.1 34.1 0 0 0 487.505 118zm-371.832 1H14.323v8h101.35v-8zm671 0h-101.35v8h101.35v-8zM460 117H342v4h8.322v4h101.351v-4H460v-4zm0-9.745H342v4.49h118v-4.49zM66.211 0v41.503L68.076 57h-5.057l-.019.177h5.097L68.076 57H106v4.667l-2.565 3.887-.262 1.589c13.573 1.564 24.326 15.785 25.123 33.46l.04 1.345H131v8.359H0v-8.36h2.66c.304-18.725 11.772-33.903 26.153-34.895l-.248-1.498L26 61.667V57h37.019l1.68-15.497V0h1.512zm671 0v41.503L739.076 57h-5.057l-.019.177h5.097l-.021-.177H777v4.667l-2.565 3.887-.262 1.589c13.573 1.564 24.326 15.785 25.123 33.46l.04 1.345H802v8.359H671v-8.36h2.66c.304-18.725 11.772-33.903 26.153-34.895l-.248-1.498L697 61.667V57h37.019l1.68-15.497V0h1.512zM361.5 80a8.499 8.499 0 0 0-8.5 8.502A8.495 8.495 0 0 0 361.5 97c4.69 0 8.5-3.799 8.5-8.498A8.502 8.502 0 0 0 361.5 80zm39.998 0A8.499 8.499 0 0 0 393 88.502 8.495 8.495 0 0 0 401.498 97 8.496 8.496 0 0 0 410 88.502 8.5 8.5 0 0 0 401.498 80zm39 0A8.496 8.496 0 0 0 432 88.502 8.492 8.492 0 0 0 440.498 97 8.496 8.496 0 0 0 449 88.502 8.5 8.5 0 0 0 440.498 80zm330.524-13h-69.71l-1.046.025-.453.027.778 4.725h72.818l.764-4.634a21.71 21.71 0 0 0-.96-.09l-.484-.028-1.707-.025zm-671 0h-69.71l-1.046.025-.453.027.778 4.725h72.818l.764-4.634a21.71 21.71 0 0 0-.96-.09l-.484-.028-1.707-.025zm247.275-28v6.223h107.406V39h1.513v12.446L460 55.333V60H342v-4.667l3.784-3.887V39h1.513zm100.574 7.33h-5.342v5.34h5.342v-5.34zm-95.2 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.802 0h-5.346v5.34h5.346v-5.34zm6.798 0h-5.342v5.34h5.342v-5.34zm6.8 0h-5.342v5.34h5.342v-5.34zm6.802 0h-5.346v5.34h5.346v-5.34zm6.798 0h-5.342v5.34h5.342v-5.34zm6.802 0h-5.346v5.34h5.346v-5.34zm6.798 0h-5.342v5.34h5.342v-5.34zm13.602 0h-5.346v5.34h5.346v-5.34z" fill="#005598"/>
            <path d="M487.836 287.81a2.917 2.917 0 1 0 0-5.833 2.917 2.917 0 0 0 0 5.833zm-3.144-11.505c.135 0 .258.069.328.18l.036.07 1.831 4.772a3.698 3.698 0 0 0-2.745 3.566c0 .387.062.77.181 1.136l.08.218h-3.236a.389.389 0 0 1-.382-.456l.02-.073 3.523-9.162a.389.389 0 0 1 .364-.251zm7.752 2.973c.188 0 .345.133.381.31l.008.079v4.666a.389.389 0 0 1-.31.381l-.079.008h-.921a3.667 3.667 0 0 0-3.915-3.521l-.22.021v-1.555c0-.188.134-.345.311-.381l.079-.008h4.666zM438.836 290.81a2.917 2.917 0 1 0 0-5.833 2.917 2.917 0 0 0 0 5.833zm-3.144-11.505c.135 0 .258.069.328.18l.036.07 1.831 4.772a3.698 3.698 0 0 0-2.745 3.566c0 .387.062.77.181 1.136l.08.218h-3.236a.389.389 0 0 1-.382-.456l.02-.073 3.523-9.162a.389.389 0 0 1 .364-.251zm7.752 2.973c.188 0 .345.133.381.31l.008.079v4.666a.389.389 0 0 1-.31.381l-.079.008h-.921a3.667 3.667 0 0 0-3.915-3.521l-.22.021v-1.555c0-.188.134-.345.311-.381l.079-.008h4.666z" fill="#979797" fill-rule="nonzero"/>
            <path d="M361.56 197a2.01 2.01 0 0 1 1.843 1.22l.057.15L366 206h-3v6h-3v-6h-3l2.54-7.63a2 2 0 0 1 1.74-1.364l.16-.006h.12zm-.06-5c1.11 0 2 .89 2 2 0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2zM313.56 199a2.01 2.01 0 0 1 1.843 1.22l.057.15L318 208h-3v6h-3v-6h-3l2.54-7.63a2 2 0 0 1 1.74-1.364l.16-.006h.12zm-.06-5c1.11 0 2 .89 2 2 0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2z"/>
          </g>
        </svg>
      </div>
    </div>
    <h2>Sólo <%= @percentage_woman %> de cada 10 de los espacios que llevan nombre (salas, aulas, edifios, etc.), reconocen a mujeres.</h2>
    <div id="totals" class="group">
    </div>
    <h2>Quiénes son</h2>
    <div id="search-container">
      <%= form_with url: "/", method: :get, html: { id: "search", remote: true } do |form| %>
        <div class="type-select">
          <div class="select-box">
            <span></span>
            <i class="arrow down"></i>
          </div>
          <div class="type-options hidden">
            <label for="type_femenino"><%= form.radio_button :type, 'Femenino', {class: 'search_type', checked: true} %>Mujeres</label>
            <label for="type_masculino"><%= form.radio_button :type, 'Masculino', class: 'search_type' %>Hombres</label>
            <label for="type_todo"><%= form.radio_button :type, 'Todo', class: 'search_type' %>Todo</label>
          </div>
        </div>
          <%= form.text_field :query %>
          <%= button_tag( :class => "search-button") do %>
            <%= image_tag 'search.svg', class: 'icon-search', alt: "Buscar" %>
          <% end %>
      <% end %>
      <div id="search_results" class="inner">
      </div>
    </div>
    <h2>Llevan nombres de mujeres</h2>
    <div id="services" class="group inner tipos-servicios">
      <select name="servicios" id="servicios">
        <%= options_for_select( [["Toda la Universidad",0]] + @services.map{|s| [s.name, s.id]} ) %>
      </select>
      <div id="place_type_graphs">
        <%= render partial: "place_type_graphs" %>
      </div>
    </div>
    <h2 class="inner">Sin embargo, la mayoría de quienes estudian y se reciben, son mujeres.</h2>
    <div id="percentage-estudiante" class="group blue">
      <%= render partial: "data_qtty_graphs", locals: {stype: "estudiante"} %>
    </div>
    <h2 class="inner">Aunque no siempre fue así:</h2>
    <div id="evolution-graph">
    </div>
    <div id="annotation-graph">
    </div>
    <div class="group inner">
      <h2>La desigualdad también es visible en el personal</h2>
      <div class="tab-selector">
        <button id="tab-docentes" onclick="selectTab('docente')" class="tab-btn active btn-left">
          DOCENTES
        </button><button id="tab-funcionaries" onclick="selectTab('funcionarie')" class="tab-btn btn-right">
          FUNCIONARIAS/OS
        </button>
      </div>
    </div>
    <div class="group blue">
      <div id="percentage-docente" class="percentage-tabs">
        <%= render partial: "data_qtty_graphs", locals: {stype: "docente"} %>
      </div>
      <div id="percentage-funcionarie" class="percentage-tabs">
        <%= render partial: "data_qtty_graphs", locals: {stype: "funcionarie"} %>
      </div>
    </div>
    <p class="inner note">
      Desde UDELAR queremos corregir esta situación a través de Nombre del proyecto, y una descripción muy breve.
    </p>
    <p class="inner note">
      Por un lado, queremos corregir el desequilibrio en los nombres de espacios, y necesitamos tus propuestas.
    </p>
    <a href="/" class="btn btn-blue">PROPONÉ NOMBRES</a>
    <p class="inner note">
      Además, queremos pensar cómo la Universidad debe mejorar para cambiar estas inequidades.
    </p>
    <a href="/" class="btn btn-blue">PROPONÉ IDEAS</a>
  </div>
  <%= render partial: "evolution_graph" %>
  <script>
    $(document).ready(() => {
    var options = {
        series: <%= raw(@per_type_series) %>,
        chart: {
        type: 'bar',
        height: 400
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        colors: ['transparent']
      },
      grid: {
        yaxis: {
          lines: {
            show: false,
          }
        }
      },
      xaxis: {
        categories: ['', '', ''],
      },
      fill: {
        opacity: 1
      },
    };
    var chart = new ApexCharts(
      document.querySelector("#totals"),
      options
    );
    chart.render();
  });
  </script>
</div>
