<div class="home main-container">
  <div class="header">
      <%= image_tag 'logo-udelar.svg', class: 'logo-udelar' %>
      <ul class="menu">
        <li><a href="/sobre-proyecto">Sobre el proyecto</a></li>
      </ul>
      <div class="sub-header">
        <%= image_tag 'logo-prg.svg', class: 'logo-prg' %>
        <%= image_tag 'logo-data.svg', class: 'logo-data' %>
      </div>
      <h1>¿Qué lugar ocupan las mujeres en la UDELAR?</h1>
  </div>
  <div class="container">
    <div class="group main-image">
      <div class="derecho">
        <%= render partial: 'derecho.svg' %>
      </div>
    </div>
    <script>
      $(document).ready(() => {
        var women = Math.round(<%= @percentage_woman %>);
        var things = Math.round(<%= @percentage_woman %>);
        //VISUALIZATION home
        console.log('Arranca');
        for (var i = 1; i < 11; i++) {
          type = '_hombre';
          if (i <= women) {
            type = '_mujer';
          }
          else if (i > (10 - things)) {
            type = '_otro';
          }
          $("#"+i+type)[0].style.opacity = 1;
        }
      });
    </script>
    <h2 class="group inner">
      Sólo <%= @percentage_woman %> de cada 10 de los espacios que llevan nombre (salas, aulas, edifios, etc.), reconocen a mujeres.
    </h2>
    <div id="totals" class="">
    </div>
    <h2 class="group inner">
      Quiénes son
    </h2>
    <div id="search-container">
      <%= form_with url: "/", method: :get, html: { id: "search", remote: true } do |form| %>
        <div class="type-select">
          <div class="select-box">
            <span></span>
            <i class="arrow down"></i>
          </div>
          <div class="type-options hidden">
            <label for="type_femenino"><%= form.radio_button :type, 'Femenino', {class: 'search_type', checked: true} %>Mujeres</label>
            <label for="type_masculino"><%= form.radio_button :type, 'Masculino', class: 'search_type' %>Hombres</label>
            <label for="type_todo"><%= form.radio_button :type, 'Todo', class: 'search_type' %>Todo</label>
          </div>
        </div>
          <%= form.text_field :query %>
          <%= button_tag( :class => "search-button") do %>
            <%= image_tag 'search.svg', class: 'icon-search', alt: "Buscar" %>
          <% end %>
      <% end %>
      <div id="search_results" class="inner">
      </div>
    </div>
    <h2 class="group inner">
      Llevan nombres de mujeres
    </h2>
    <div id="services" class="group inner tipos-servicios">
      <select name="servicios" id="servicios">
        <%= options_for_select( [["Toda la Universidad",0]] + @services.map{|s| [s.name, s.id]}, selected: 0 ) %>
      </select>
      <div id="place_type_graphs">
        <%= render partial: "place_type_graphs" %>
      </div>
    </div>
    <h2 class="inner">Sin embargo, la mayoría de quienes estudian y se reciben, son mujeres.</h2>
    <div id="percentage-estudiante" class="group blue">
      <%= render partial: "data_qtty_graphs", locals: {stype: "estudiante"} %>
    </div>
    <h2 class="inner">Aunque no siempre fue así:</h2>
    <div id="evolution-graph">
    </div>
    <div id="annotation-graph">
    </div>
    <div class="group inner">
      <h2>La desigualdad también es visible en el personal</h2>
      <div class="tab-selector">
        <button id="tab-docentes" onclick="selectTab('docente')" class="tab-btn active btn-left">
          DOCENTES
        </button><button id="tab-funcionaries" onclick="selectTab('funcionarie')" class="tab-btn btn-right">
          FUNCIONARIAS/OS
        </button>
      </div>
    </div>
    <div class="group blue">
      <div id="percentage-docente" class="percentage-tabs active">
        <%= render partial: "data_qtty_graphs", locals: {stype: "docente"} %>
      </div>
      <div id="percentage-funcionarie" class="percentage-tabs">
        <%= render partial: "data_qtty_graphs", locals: {stype: "funcionarie"} %>
      </div>
    </div>
    <h2 class="inner">
      Para promover que más mujeres puedan trabajar y estudiar se impulsan iniciativas como las salas de lactancia.
    </h2>
    <div class="map-container group">
      <%= render partial: "map" %>
    </div>
    <p class="inner note">
      Desde UDELAR queremos corregir esta situación a través de Nombre del proyecto, y una descripción muy breve.
    </p>
    <p class="inner note">
      Por un lado, queremos corregir el desequilibrio en los nombres de espacios, y necesitamos tus propuestas.
    </p>
    <a href="/" class=" inner btn btn-blue">PROPONÉ NOMBRES</a>
    <p class="inner group note">
      Además, queremos pensar cómo la Universidad debe mejorar para cambiar estas inequidades.
    </p>
    <a href="/" class="inner-out btn btn-blue">PROPONÉ IDEAS</a>
  </div>
  <%= render partial: "evolution_graph" %>
  <script>
    $(document).ready(() => {
    var options = {
      series: <%= raw(@per_type_series) %>,
      chart: {
        type: 'bar',
        height: 300
      },
      colors: ['#817eb0', '#ee7474', '#63bfb8'],
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '95%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        colors: ['transparent'],
        width: 20,
      },
      grid: {
        yaxis: {
          lines: {
            show: false,
          }
        }
      },
      yaxis: { show: false },
      xaxis: {
        categories: ['', '', ''],
      },
      fill: {
        opacity: 1
      },
    };
    var chart = new ApexCharts(
      document.querySelector("#totals"),
      options
    );
    chart.render();
  });
  </script>
</div>
<div id="footer" class="blue inner">
  <div class="group">
    <h2>Sobre el proyecto </h2>
    <p>
      Nomenclátor UDELAR es un proyecto de DATA Uruguay y el Prorectorado de Gestión de UDELAR para visibilizar la brecha de género en el reconocimeinto dentro de la Universidad, apuntando a cambiar esa realidad.
      <a href="/faq">Más información ></a>
    </p>
    <a href="#" class="btn btn-transparent">¿Problemas, dudas? Escribí a soporte<i class="arrow-down"></i></a>
    <a href="#" class="btn btn-transparent">¿Problemas, dudas? Escribí a soporte<i class="arrow-down"></i></a>
  </div>
  <div class="group">
    <h2>Datos abiertos y software libre </h2>
    <p>
      Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización como datos abiertos y el código del software es libre bajo licencia GPLv3.
      <a href="/faq">Más información ></a>
    </p>
    <a href="#" class="btn btn-transparent">Datos abiertos en Catálogo Nacional<i class="arrow-down"></i></a>
    <a href="#" class="btn btn-transparent">Código de la aplicación en GitHub<i class="arrow-down"></i></a>
  </div>
  <div class="group">
    <h2>¿Quiénes somos?</h2>
    <p>
      DATA Uruguay es una ONG que crea herramientas de tecnología cívica para promover el conocimiento y ejercicio de derechos y hace activismo a través de Datos Abiertos y Gobierno Abierto.
      <a href="/faq">Más información ></a>
    </p>
    <p>
      El Prorrectorado de Gestión ejecuta las políticas, estrategias, proyectos y normas aprobadas por el Consejo Directivo Central, en el marco de las directivas que dicte el Rector y bajo su supervisión.
      <a href="/faq">Más información ></a>
    </p>
  </div>
</footer>
