<div id="footer" class="blue inner">
  <div class="group">
    <h2>Sobre el proyecto </h2>
    <p>
      Nomenclátor UDELAR es un proyecto de DATA Uruguay y el Prorectorado de Gestión de UDELAR para visibilizar la brecha de género en el reconocimeinto dentro de la Universidad, apuntando a cambiar esa realidad.
      <br>
      <a href="/sobre-el-proyecto">Más información ></a>
    </p>
    <a href="#" class="btn btn-transparent">
      ¿Problemas, dudas? Escribí a soporte
      <%= image_tag 'github-fill.svg', class: 'icon github' %>
    </a>
    <a href="#" class="btn btn-transparent">
      Base de conocimiento DATA Uruguay
      <%= image_tag 'github-fill.svg', class: 'icon github' %>
    </a>
  </div>
  <div class="group">
    <h2>Datos abiertos y software libre </h2>
    <p>
      Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización como datos abiertos y el código del software es libre bajo licencia GPLv3.
    </p>
    <a href="#" class="btn btn-transparent">
      Datos abiertos en Catálogo Nacional
      <%= image_tag 'github-fill.svg', class: 'icon github' %>
    </a>
    <a href="#" class="btn btn-transparent">
      Código de la aplicación en GitHub
      <%= image_tag 'github-fill.svg', class: 'icon github' %>
    </a>
  </div>
  <div class="group">
    <h2>¿Quiénes somos?</h2>
    <div>
      <div class="logos">
        <%= image_tag 'logo-data.svg', class: 'data-logo' %>
      </div>
      DATA Uruguay es una ONG que crea herramientas de tecnología cívica para promover el conocimiento y ejercicio de derechos y hace activismo a través de Datos Abiertos y Gobierno Abierto.
      <div class="social-links">
        <%= image_tag 'external-link.svg', class: 'social-icon' %>
        <%= image_tag 'twitter-fill.svg', class: 'social-icon' %>
        <%= image_tag 'facebook-fill.svg', class: 'social-icon' %>
        <%= image_tag 'linkedin.svg', class: 'social-icon' %>
        <%= image_tag 'instagram.svg', class: 'social-icon' %>
        <%= image_tag 'github-fill.svg', class: 'social-icon' %>
      </div>
    </div>
    <div class="group">
      <div class="logos">
        <%= image_tag 'logo-prg.svg', class: 'prg-logo' %>
      </div>
      El Prorrectorado de Gestión ejecuta las políticas, estrategias, proyectos y normas aprobadas por el Consejo Directivo Central, en el marco de las directivas que dicte el Rector y bajo su supervisión.
      <div class="social-links">
        <%= image_tag 'external-link.svg', class: 'social-icon' %>
        <%= image_tag 'twitter-fill.svg', class: 'social-icon' %>
        <%= image_tag 'facebook-fill.svg', class: 'social-icon' %>
        <%= image_tag 'linkedin.svg', class: 'social-icon' %>
        <%= image_tag 'instagram.svg', class: 'social-icon' %>
        <%= image_tag 'github-fill.svg', class: 'social-icon' %>
      </div>
    </div>
  </div>
  <div class="group">
    <h2>Con el apoyo de:</h2>
    <%= image_tag 'ddee.svg', class: 'supporters' %>
    <%= image_tag 'ddee.svg', class: 'supporters' %>
    <%= image_tag 'ddee.svg', class: 'supporters' %>
  </div>
  <div class="group">
    <h2>Conocé otros proyectos de DATA:</h2>
    <%= image_tag 'ddee.svg', class: 'proyects' %>
    <%= image_tag 'ddee.svg', class: 'proyects' %>
    <%= image_tag 'ddee.svg', class: 'proyects' %>
  </div>
  <div class="group">
    <%= image_tag 'instagram.svg', class: 'social-icon' %>
    <%= image_tag 'github-fill.svg', class: 'social-icon' %>
    <p>El contenido original de este sitio, está bajo licencia Creative Commons Atribución 4.0 Internacional. Por otras atribuciones ver sobre el proyecto.</p>
  </div>

</footer>
