<div id="footer" class="blue inner">
  <div class="row">
    <div class="group column">
      <div class="toggle-data" onclick="this.parentNode.classList.toggle('active');">
        <h2>Sobre el proyecto </h2>
        <%= image_tag("arrow-down.png", alt:"Flecha expandir-contraer") %>
      </div>  
      <p>
          A Tu Nombre Udelar es un proyecto desarrollado por Data Uruguay, Prorrectorado de Gestión de la Udelar en coordinación con la Comisión Abierta de Equidad y Género y la Dirección General de Arquitectura. Busca visibilizar la brecha de género en el reconocimiento dentro de la Universidad, apuntando a cambiar esta realidad.
        <br>
        <a href="/sobre-el-proyecto">Más información ></a>
      </p>
      <a href="http://soporte.data.org.uy/es/customer/create-ticket/" class="btn btn-transparent">
        ¿Problemas, dudas? Escribí a soporte
        <%= image_tag 'iconos-soporte.svg', class: 'icon github' %>
      </a>
      <div class="toggle-content">
        <a href="http://soporte.data.org.uy/es/" class="btn btn-transparent">
          Base de conocimiento DATA Uruguay
          <%= image_tag 'iconos-base-de-conocimiento.svg', class: 'icon github' %>
        </a>
        <div class="group">
          <h2>Datos abiertos y software libre </h2>
          <p>
            Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización como datos abiertos y el código del software es libre bajo licencia GPLv3.
          </p>
          <a href="https://catalogodatos.gub.uy/dataset/a-tu-nombre-udelar" class="btn btn-transparent">
            Datos abiertos en Catálogo Nacional
            <%= image_tag 'iconos-datos.svg', class: 'icon github' %>
          </a>
          <a href="http://github.com/datauy/nomenclatorUDELAR/" class="btn btn-transparent">
            Código de la aplicación en GitHub
            <%= image_tag 'github-fill.svg', class: 'icon github' %>
          </a>
        </div>
      </div>
    </div>
    <div class="group column center">
      <div class="toggle-data" onclick="this.parentNode.classList.toggle('active');">
        <h2>¿Quiénes somos?</h2>
        <%= image_tag("arrow-down.png", alt:"Flecha expandir-contraer") %>
      </div>
      <div>
        <div class="logos">
          <%= image_tag 'logo-data.svg', class: 'data-logo' %>
        </div>
        <div class="toggle-content">
          <div id='data-description'>
            DATA Uruguay es una ONG que crea herramientas de tecnología cívica para promover el conocimiento y ejercicio de derechos y hace activismo a través de Datos Abiertos y Gobierno Abierto.
            <div class="social-links">
              <a href="http://data.org.uy">
                <%= image_tag 'external-link.svg', class: 'social-icon' %>
              </a>
              <a href="https://twitter.com/DATAuy/">
                <%= image_tag 'twitter-fill.svg', class: 'social-icon' %>
              </a>
              <a href="https://facebook.com/DATAUruguay/">
                <%= image_tag 'facebook-fill.svg', class: 'social-icon' %>
              </a>
              <a href="https://www.linkedin.com/company/datauy/">
                <%= image_tag 'linkedin.svg', class: 'social-icon' %>
              </a>
              <a href="https://instagram.com/DATAuy/">
                <%= image_tag 'instagram.svg', class: 'social-icon' %>
              </a>
              <a href="https://github.com/DATAuy/">
                <%= image_tag 'github-fill.svg', class: 'social-icon' %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="logos">
          <%= image_tag 'logo-prg.svg', class: 'prg-logo' %>
        </div>
        <div class="toggle-content">
          <div id='partner-description'>
            El Prorrectorado de Gestión ejecuta las políticas, estrategias, proyectos y normas aprobadas por el Consejo Directivo Central, en el marco de las directivas que dicte el Rector y bajo su supervisión.
            <div class="social-links">
              <a href="https://gestion.udelar.edu.uy">
                <%= image_tag 'external-link.svg', class: 'social-icon' %>
              </a>
              <a href="https://twitter.com/gestionudelar">
                <%= image_tag 'twitter-fill.svg', class: 'social-icon' %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="logos">
          <%= image_tag 'logo_caeg.svg', class: 'caeg-logo' %>
        </div>
        <div class="toggle-content">
          <div id='partner-description'>
            En el año 2012 se crea la Comisión Abierta de Equidad de Género (CAEG) como un espacio de reflexión y de definición de estrategias de abordaje de la perspectiva de equidad de género en las políticas universitarias.
            <div class="social-links">
              <a href="https://gestion.udelar.edu.uy/institucional/comision-abierta-de-equidad-y-genero-caeg">
                <%= image_tag 'external-link.svg', class: 'social-icon' %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group column">
      <h2>Con el apoyo de:</h2>
      <%= image_tag 'ILDA.svg', class: 'supporters' %>
      <%= image_tag 'logo_mira_mama.svg', class: 'supporters' %>
    </div>
  </div>
  <div class="carousel slider-container">
    <h2>Conocé otros proyectos de DATA:</h2>
    <div id="data-projects" class="slides"></div>
    <div id="slider-controls"></div>
  </div>
  <script>
    var slide_started = false;
      function getJSON(url, callback) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', url, true);
          xhr.responseType = 'json';
          xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
              callback(null, xhr.response);
            } else {
              callback(status, xhr.response);
            }
          };
          xhr.send();
      };
      
      function fadeIn(el) { 
        
        //setInterval(show(el), 200);
      } 
      var intervalID = 0;    
      function show(body) {  
          opacity = Number(window.getComputedStyle(body).getPropertyValue("opacity")); 
          if (opacity < 1) { 
              opacity = opacity + 0.1; 
              body.style.opacity = opacity 
          } else { 
              clearInterval(intervalID);
          } 
      } 
      function goToSlide(clicked) {
        var pos = clicked.target.xdata;
        current_slides = document.querySelector(".slide").length;
        for (var i = pos; i < current_slides; i++) {
          document.querySelector(".slides").append( document.getElementById("slide-"+i) );
        }
        for (var i = 0; i < pos; i++) {
          document.querySelector(".slides").append( document.getElementById("slide-"+i) );
        }
        document.querySelector("#slider-controls a").classList.remove("active");
        clicked.target.className = "active";
      }
      getJSON("https://admin.data.org.uy/api/project-footer?project_id=7", function(err, data){
        var container = document.getElementById("data-projects");
        var controls = document.getElementById("slider-controls");
        i=0;
        data.forEach(function(project){
          var a = document.createElement("a");
          a.target = "_blank";
          a.id = "slide-"+i;
          a.href = project.link;
          a.alt = project.name;
          a.className = "slide";
          var element = document.createElement("img");
          element.setAttribute("src", project.icon);
          a.appendChild(element);
          container.appendChild(a);
          var b = document.createElement("a");
          b.xdata = i;
          b.id = "control-slide-"+i;
          b.onclick=goToSlide;
          controls.appendChild(b);
          if ( i == 0 ) {
            b.className = "active";
          }
          i++;
        });
        change_slide(true);
      });
      //Pause on hover
      document.querySelector(".slider-container").addEventListener('mouseover', function(){
        //slide_started = true;
        document.querySelector(".slides").classList.add("hovered");
      });
      document.querySelector(".slider-container").addEventListener('mouseout', function(){
        //slide_started = false;
        document.querySelector(".slides").classList.remove("hovered");
      });
      function change_slide() {
        if (!slide_started) {
          let not_hovered = document.querySelectorAll(".slides:not(.hovered) > a")[0];
          if (not_hovered != null ) {
            slide_started = true;
            fadeOut(not_hovered);
          }
          else {
            slide_started = false;
            sleep(500).then(() => {
              change_slide();
            });
          }
        }
      }
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }
      function fadeOut(el) {
        var fadeTarget = el;
        var fadeEffect = setInterval(function () {
            if (!fadeTarget.style.opacity) {
                fadeTarget.style.opacity = 1;
            }
            if (fadeTarget.style.opacity > 0) {
                fadeTarget.style.opacity -= 0.04;
            } else {
              slide_started = false;
              document.querySelector(".slides").append(el);
              el.style.opacity = 1;
              change_slide();
              clearInterval(fadeEffect);
                  //bottom controls
              var slide = document.querySelector(".slides > a");
              let pagers = document.querySelectorAll("#slider-controls a");
              for (i = 0; i < pagers.length; i++){
                pagers[i].classList.remove("active");
              }
              document.querySelector("#control-"+slide.id).classList.add("active");
            }

        }, 60);
      }
  </script>
  <div class="group">
    <%= image_tag 'cc.svg', class: 'social-icon' %>
    <%= image_tag 'cc-by.svg', class: 'social-icon' %>
    <p>El contenido original de este sitio, está bajo licencia Creative Commons Atribución 4.0 Internacional. Por otras atribuciones ver sobre el proyecto.</p>
  </div>

</footer>
