<!DOCTYPE html>
<html>
  <head>
    <title>A Tu Nombre Udelar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>A Tu Nombre Udelar</title>
    <!-- Search Engine -->
    <meta name="description" content="¿Qué lugar ocupan las mujeres en la UDELAR?">
    <meta name="image" content="http://atunombre.udelar.edu.uy/opengraph.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="A Tu Nombre UDELAR">
    <meta itemprop="description" content="¿Qué lugar ocupan las mujeres en la UDELAR?">
    <meta itemprop="image" content="http://atunombre.udelar.edu.uy/opengraph.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="A Tu Nombre UDELAR">
    <meta name="twitter:description" content="¿Qué lugar ocupan las mujeres en la UDELAR?">
    <meta name="twitter:site" content="@datauy">
    <meta name="twitter:creator" content="@udelaruy">
    <meta name="twitter:image:src" content="http://atunombre.udelar.edu.uy/twitter.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="A Tu Nombre UDELAR">
    <meta name="og:description" content="¿Qué lugar ocupan las mujeres en la UDELAR?">
    <meta name="og:image" content="http://atunombre.udelar.edu.uy/opengraph.png">
    <meta name="og:url" content="http://atunombre.udelar.edu.uy/">
    <meta name="og:site_name" content="A Tu Nombre UDELAR">
    <meta name="og:locale" content="es_UY">
    <meta name="og:type" content="website">
    <link rel="icon" type="image/jpeg" href="/images/udelar-favicon.png"/>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
